<div class="fav">

   <div class="fav-header">
      <div class="fav-header-inner">
         <h2 class="lt" [ngClass]="{'fav-ui-fadeIn':store}">{{headerTitle}}</h2>
         <div (click)="goBack()" class="fav-ui-back" *ngIf="detailView">&nbsp;</div>
         <div class="fav-ui-map" *ngIf="detailView">&nbsp;</div>
      </div>
   </div>

   <div class="fav-list-container" [ngClass]="{'fav-ui-slideleft':detailView}">
      <div class="fav-list-container-inner">
         <ul class="fav-list" [ngClass]="{'fav-ui-fadeIn':store}">
            <li (click)="getRestaurantDetail(res)" class="fav-list-block" *ngFor="let res of store" [ngStyle]="{'background-image':'url('+res.backgroundImageURL+')'}">
               <div class="fav-list-block-info">
                  <h3>{{res.name}}</h3>
                  <p>{{res.category}}</p>
               </div>
            </li>
         </ul>
      </div>
   </div>

   <div class="fav-details" [ngClass]="{'fav-ui-fadeIn':detailView}">
      <div class="fav-details-inner">
         
         <div class="fav-details-map" id="map" [ngClass]="{'loaded':mapLoaded}"></div>
         
         <div class="fav-details-info-block">
            <div class="fav-details-name" *ngIf="details.name">
               <p class="name">{{details.name}}</p>
               <p class="category">{{details.category}}</p>
            </div>
            
            <div class="fav-details-info" *ngIf="details.name">
               <p class="address">{{details.location.address}}</p>
               <p class="phone" *ngIf="details.contact">{{details.contact.formattedPhone}}</p>
               <p class="twitter" *ngIf="details.contact && details.contact.twitter">Twitter: @{{details.contact.twitter}}</p>
            </div>
         </div>

      </div>
   </div>

   <div class="fav-ui-loading" *ngIf="showLoader">
      <div class="loader" [hidden]="errorLoading">&nbsp;</div>
      <h2 [innerHTML]="loadingMsg"></h2>
   </div>

   <div class="ui-developedBy" [ngClass]="{'ui-developedBy-show':showDevCredit}">
      <p>Developed by Golden R. Butler</p>
      <p>omolo.developer@gmail.com | +1.224.818.6190</p>
      <div class="ui-db-logo">&nbsp;</div>
   </div>

</div>