/* Fav Eats */
$FE-ColorGreen1: #43E895;
$FE-ColorGreen2: #34B379;
$FE-Black: #2A2A2A;
$FE-MainFont: "Avenir Next";
$FE-MainFontBold: "Avenir Next Demi Bold";

html,
body {
	left: 0;
	width: 100%;
	position: relative;
	height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ui-developedBy {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 80%;
	height: 45px;
	background-color: #2d2c34;
	color: #afaba2;
	z-index: 100;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;


	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0) translateX(-50%);
   -webkit-transition: all linear 0.4s;
   transition: all linear 0.4s;

	&.ui-developedBy-show {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0) translateX(-50%);
      -webkit-transition: all linear 0.4s;
		transition: all linear 0.4s;
	}

	.ui-db-logo {
		width: 25px;
		height: 25px;
		position: absolute;
		top:2px;
		left: 50%;
		transform: translateX(-50%);
		margin-left: -90px;

		&:before {
			content: ''; 
			color: #ffffff;
			width: 70%; 
			height: 100%;  
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50% 50%;
			background-image: url('/assets/images/delachi-logo.png');
			position: absolute; 
			top: 0; 
			left: 0; 
		}
	}

	p {
		&:first-of-type { margin-bottom: 5px; }
		font-size: 10px;
		margin: 0;
	}
}

.fav {
	font-family: $FE-MainFont;
	color: #ffffff;

	ul,li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.fav-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 80px;
		background-color: $FE-ColorGreen1;

		.fav-header-inner {
			position: relative;
			top: 0;
			width: 100%;
			height: 100%;

			h2.lt {
				margin-top: 0;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
				font-family: $FE-ColorGreen2;
				font-size: 17px;
				text-align: center;
				opacity: 0;
			}

			.fav-ui-back {
				width: 30px;
				height: 30px;
				left: 12px;
				position: absolute;
    			bottom: 12px;
    			cursor: pointer;

				&:before {
					content: ''; 
					color: #ffffff;
					width: 100%; 
					height: 100%;  
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: 50% 50%;
					background-image: url('/assets/images/ic_webBack@2x.png');
					position: absolute; 
					top: 0; 
					left: 0; 
				}
			}
			.fav-ui-map {
				width: 30px;
				height: 30px;
				right: 12px;
				position: absolute;
    			bottom: 12px;

				&:before {
					content: ''; 
					color: #ffffff;
					width: 100%; 
					height: 100%;  
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: 50% 50%;
					background-image: url('/assets/images/icon_map@2x.png');
					position: absolute; 
					top: 0; 
					left: 0;
				}
			}
		}
	}

	.fav-ui-slideleft {
		-webkit-transform: translate3d(-100%,0,0)!important;
      transform: translate3d(-100%,0,0)!important;
      -webkit-transition: all linear 0.3s!important;
    	transition: all linear 0.3s!important;
	}
	.fav-ui-fadeIn {
      -webkit-transition: all linear 0.5s!important;
		transition: all linear 0.5s!important;
		opacity: 1!important;
	}
	.fav-ui-fadeOut {
		-webkit-transition: all linear 0.5s!important;
		transition: all linear 0.5s!important;
		opacity: 0!important;
	}

	.fav-ui-loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $FE-ColorGreen1;
		z-index: 100;

		h2 {
			position: absolute;
			color: #ffffff;
			top: 30%;
			left: 50%;
			width: 300px;
			transform: translateX(-50%) translateY(-50%);
			text-align: center;
		}
	}

	.fav-list-container {
		border: 1px transparent;
      z-index: 99;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
      
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      -webkit-transition: all linear 0.3s;
    	transition: all linear 0.3s;

		.fav-list-container-inner {
			margin-top: 80px;
			//margin-bottom: 50px;
		}

		.fav-list {
			opacity: 0;

			.fav-list-block {
				box-sizing: border-box;
				position: relative;
				color: #ffffff;
				margin: 0;
				height: 180px;
				width: 100%;
				cursor: pointer;
				
				h3 {
					font-family: $FE-MainFontBold;
					margin-top: 6px;
					margin-bottom: 6px;
					font-size: 16px;
				}

				p {
					font-family: $FE-MainFont;
					font-size: 12px;
					margin: 0 0 6px 0;
				}

  				background-repeat: no-repeat;
  				background-size: 100%;
  				background-position: 50% 50%;

  				.fav-list-block-info {
  					box-sizing: border-box;
  					position: absolute;
  					bottom: 0;
  					left: 0;
  					width: 100%;
  					padding-left: 12px;
  					color: #ffffff;
  					background-color: rgba(0,0,0, 0.1);

  					&:before {
  						content: ''; 
  						color: #ffffff;
						width: 100%; 
						height: 100%;  
						background-repeat: no-repeat;
  						background-size: 100%;
  						background-position: 50% 50%;
						background-image: url('/assets/images/cellGradientBackground@2x.png');
						position: absolute; 
						top: 0; 
						left: 0; 
						z-index: 1;
  					}
  					
  				}
			}
		}
	}

	.fav-details {

		z-index: 98;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		transition: all linear 0.5s;
		opacity: 0;
		
		.fav-details-inner {
			position: relative;
			left: 0;
			width: 100%;
			height: 100%;
			margin-top: 80px;
    		margin-bottom: 50px;
		}

		.fav-details-map {
			height: 180px;
			position: relative;

			&:before {
				content: ''; 
				color: #ffffff;
				width: 100%; 
				height: 100%;  
				background-repeat: no-repeat;
				background-size: 15%;
				background-position: 50% 50%;
				background-image: url('/assets/images/fe-loading.svg');
				position: absolute;
				background-color: #fdfdfd;
				opacity: 0.7;
				top: 0; 
				left: 0;
				z-index: 1;
  			}

  			&.loaded {
				&:before {
					content: initial!important;
				}
			}
		}

		.fav-details-name {
			box-sizing: border-box;
			height: 60px;
			padding-top: 10px;
			padding-left: 12px;
			background-color: $FE-ColorGreen2;

			p {
				margin: 0;

				&.name {
					font-family: $FE-MainFontBold;
					font-size: 16px;
					margin-bottom: 6px;
				}
				&.category {
					font-family: $FE-MainFont;
					font-size: 12px;
				}
			}
		}
		.fav-details-info {
			color: $FE-Black;
			padding-left: 12px;
			padding-top: 16px;
			font-size: 16px;

			p {
				margin:0;
				&.address, &.phone {
					margin-bottom: 26px
				}
			}
		}

	}

	.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

}

@media (min-width: 768px) and (max-width: 1024px), (orientation: landscape) {
  .fav {
  		.fav-list {
  			.fav-list-block {
  				float: left;
  				width: 50%!important;
  			}
  		}

  		.fav-details-map {
  			float: left;
  			width: 50%;
  			height: 100%!important;
  		}
  		.fav-details-info-block {
  			float: left;
  			width: 50%;
  		}
  }
}
